html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

#world {
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  background-color: black;
  position: relative;
  overflow: hidden;
}

.entity {
  background-color: white;
  position: absolute;
  left: 0;
  top: 0;
  /* border: 1px solid white; */
}

#data {
  position: absolute;
  right: 0;
  top: 0;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid white;
  color: white;
  font-family: monospace;
}